.title {
    font-family: 'DM Serif Display', serif;
    font-size: 36px;
    text-align: center;
}

.h2 {
    font-family: 'DM Serif Display', serif;
    font-size: 26px;
    text-align: center;
    padding-top: 20px;
}

.square {
    height: 150px;
    width: 150px;
    margin: 5px 15px;
    display: inline-block;
}

.color-scheme {
    text-align: center;
}

.square.black {
    background-color: #090B0C;
    border: 1px solid #F2F0E0;
}

.square.green {
    background-color: #839788;
    border: 1px solid #F2F0E0;
}

.square.white {
    background-color: #FFFCFF;
    border: 1px solid #F2F0E0;
}

.square.crimson {
    background-color: #D72638;
    border: 1px solid #F2F0E0;
}

.square.orange {
    background-color: #FF9F1C;
    border: 1px solid #F2F0E0;
}

.hex-code {
    display: inline-block;
    width: 151px;
    margin: 0 15px;
    font-family: 'DM Sans', sans-serif;
}

.demo-heading {
    font-family: 'DM Serif Display', serif;
    font-size: 26px;
}

.demo-paragraph {
    font-family: 'DM Sans', sans-serif;
    width: 750px;
}

.demo-text {
    margin-left: 392px;
}

.style-group {
    display: inline-block;
    width: 300px;
    height: 200px;
}

.text-styles {
    text-align: center;
}

p {
    font-family: 'DM Sans', sans-serif;
}

.style-heading {
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.style-text {
    font-weight: 100;
}
